Source: furiusisomount
Section: utils
Priority: optional
Maintainer: Prach Pongpanich <prachpub@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all (>= 2.6.6-3)
Standards-Version: 3.9.4
X-Python-Version: >= 2.5
Homepage: https://launchpad.net/furiusisomount
Vcs-Git: git://github.com/prachpub/furiusisomount.git
Vcs-Browser: https://github.com/prachpub/furiusisomount

Package: furiusisomount
Architecture: all
Depends: ${python:Depends},
 ${misc:Depends},
 fuseiso,
 fuseiso9660,
 python-gtk2,
 python-glade2,
 nautilus
Suggests: brasero
Description: ISO, IMG, BIN, MDF and NRG image management utility
 Furius ISO Mount is a simple application for mounting ISO, IMG,
 BIN, MDF and NG image files even without burning them to disk.
 .
 It provides the following features:
  - Automatically Mounts ISO, IMG, BIN, MDF and NRG image files.
  - Automatically creates a mount point in your home directory.
  - Automatically Unmounts the Image files.
  - Automatically removes the mount directory to return your home
    directory to its previous state.
  - Automatically saves the history of the last 10 images mounted.
  - Mounts multiple images.
  - Burn ISO and IMG Files to optical disk.
  - Generate Md5 and SHA1 checksums.
  - Automatically retrieves any previously unmounted images.
  - Automatically generates a log file of all commands needed to
    mount and unmount images manually.
